extends layout.pug

block content
    include includes/nav.pug
    div(class='book-container')
        div(class='container__book-info')
            h2(class='bookpage-container__book-info__title')
            h3(class='bookpage-container__book-info__author')
            form(class='' id='drop-down-form' name='form')
                    select(name='dropdownFormSelect' id='drop-down-form__select' class='drop-down')
                    button(type='submit' id='drop-down-form__button' class='button-light') submit
            h5(class='bookpage-container__book-info__description')

        div(class='container__book-image book-cover')
                img(class='container__book-image__src' src=`../images/${book.id}.jpg` alt="bookshelf")
        div(class='container_genres')
            h5 Genres
            each genre in book.Genres
                a(class='container__genres_links' href='/') #{genre.name}
        div(class='container__reviews-title')
            h3 Reviews
            div
                form(class='bookpage-container__form')
                    input(class='bookpage-container__reviews__input' type="text", name="reviews" placeholder="write a review")
                    input(type="submit" value="" style='display: none')
        div.container__all-reviews
            each review in book.Reviews
                div(class='container__reviews')
                    //- length is checked for ellipses purposes 
                    if review.description.length > 260 
                        div(class='container__reviews___star')
                                p(class='container__reviews__text') #{review.description.slice(0, 250)}
                                    span(class='ellipses') ...
                                    span(class='readmore-text hide') #{review.description.slice(250)}
                        div(class='container__reviews__text')
                            p(class='container__reviews__readmore') readmore
                    else 
                        div(class='container__reviews___star')
                            p(class='container__reviews__text') #{review.description}
    script(type='module' src='../js/book-show.js')
