extends layout.pug

append head
    link(rel='stylesheet', href='./css/search.css')

block content

  include ./includes/newnav.pug

  .jumbotron
    div(class='block')
      form(action="/books" method="GET" class="form-inline my-2 my-lg-4 searchform")
        input(type="search" name="term" placeholder="Search Again" class="form-control mr-sm-2 searchform__textfield")
        button(type="submit" class="btn btn-outline-success my-2 my-sm-0 searchform__button") Discover
    a(href='localhost:8080/bookshelf')
      h1.display-3=`Search Results for ${User}`




    each book in books
      div(class='block booksearch')
        div(class='block')
          img(src=`./images/${book.id}.jpg` alt='book image' style='width:200px; heigh:300px')
        div(class='block')
          div(class='container')
            a(href=`./${book.id}`)
              h5= book.title
            p= book.author
            p= book.publicationYear
          div(class='container')
            text= book.description

  include ./includes/_paginate.pug
