extends layout.pug

block content
    include includes/nav.pug
    div(class='book-container')
        div(class='container__book-info')
            h2(class='bookpage-container__book-info__title')
            h3(class='bookpage-container__book-info__author')
            //- buton(class='btn btn-danger')
            form(class='' id='drop-down-form' name='form')
                    select(name='dropdownFormSelect' id='drop-down-form__select' class='drop-down')
                    button(type='submit' id='drop-down-form__button' class='button-light') submit

            h5(class='bookpage-container__book-info__description')

        div(class='container__book-image book-cover')
                img(class='container__book-image__src' src=`../images/${book.id}.jpg` alt="bookshelf")
        div(class='container_genres')
            h5 Genres
            each genre in book.Genres
                a(class='container__genres_links' href='/') #{genre.name}
        div(class='container__reviews-title')
            h3 Reviews
            div
                form(class='bookpage-container__form')
                    input(class='bookpage-container__reviews__input' type="text", name="reviews" placeholder="write a review")
                    input(type="submit" value="" style='display: none')
        div.container__all-reviews
            each review in book.Reviews
                div(class='container__reviews')
                    div(class='container__reviews__star-container')
                        img(class='container__reviews__star' src="../images/transparent-background-star-115497268824j1ftohfyn.png" alt="star")
                        img(class='container__reviews__star' src="../images/transparent-background-star-115497268824j1ftohfyn.png" alt="star")
                        img(class='container__reviews__star' src="../images/transparent-background-star-115497268824j1ftohfyn.png" alt="star")
                        img(class='container__reviews__star' src="../images/transparent-background-star-115497268824j1ftohfyn.png" alt="star")
                        img(class='container__reviews__star' src="../images/transparent-background-star-115497268824j1ftohfyn.png" alt="star")
                    div(class='container__reviews___star')
                        p(class='container__reviews__text') #{review.description}
                    div(class='container__reviews__text')
                    a(class='container__reviews__readmore' href="#") readmore
    script(type='module' src='../js/book-show.js')

//- extends layout.pug

//- block content
//-     include includes/nav.pug
//-     div(class='bookpage-bookpage-container')
//-         div(class='bookpage-bookpage-container__book-info ')
//-             h2(class='bookpage-bookpage-container__book-info__title')
//-             h3(class='bookpage-bookpage-container__book-info__author')
//-             //- buton(class='btn btn-danger')
//-             form(class='drop-down-form' name='form')
//-                 select(name='dropdownFormSelect' class='drop-down-form__select')
//-                 button(type='submit' class='drop-down-form__button') submit

//-             h5(class='bookpage-bookpage-container__book-info__description')

//-         div(class='bookpage-bookpage-container__book-image')
//-             if book.id < 5
//-                 img(class='bookpage-bookpage-container__book-image__src' src=`../images/${book.id}.jpg` alt="bookshelf")
//-             else
//-                 div.noImageClass
//-         div(class='bookpage-bookpage-container__genres')
//-             h5 Genres
//-             each genre in book.Genres
//-                 a(class='bookpage-bookpage-container__genres__links' href='/') #{genre.name}
//-         div(class='bookpage-bookpage-container__reviews-title')
//-             h4 Reviews
//-             div
//-                 form(class='bookpage-bookpage-container__form')
//-                     input(class='bookpage-bookpage-container__reviews__input' type="text", name="reviews" placeholder="***write a review***")
//-                     input(type="submit" value="" style='display: none')
//-         each review in book.Reviews
//-             div(class='bookpage-bookpage-container__reviews')
//-                 div(class='bookpage-bookpage-container__reviews__star-bookpage-bookpage-container')
//-                     img(class='bookpage-bookpage-container__reviews__star' src="../images/transparent-background-star-115497268824j1ftohfyn.png" alt="star")
//-                     img(class='bookpage-bookpage-container__reviews__star' src="../images/transparent-background-star-115497268824j1ftohfyn.png" alt="star")
//-                     img(class='bookpage-bookpage-container__reviews__star' src="../images/transparent-background-star-115497268824j1ftohfyn.png" alt="star")
//-                     img(class='bookpage-bookpage-container__reviews__star' src="../images/transparent-background-star-115497268824j1ftohfyn.png" alt="star")
//-                     img(class='bookpage-bookpage-container__reviews__star' src="../images/transparent-background-star-115497268824j1ftohfyn.png" alt="star")
//-                 div(class='bookpage-bookpage-container__reviews__text-bookpage-bookpage-container')
//-                     p(class='bookpage-bookpage-container__reviews__text') #{review.description}
//-                 div(class='bookpage-bookpage-container__reviews__readmore-bookpage-bookpage-container')
//-                     a(class='bookpage-bookpage-container__reviews__readmore' href="#") readmore
//-     script(type='module' src='../js/book-show.js')
