extends layout.pug

block content
  include includes/nav.pug

  div.searchTitle
    h2= searchTitle
  each book in books
    div(class='booksearch')
      div(class='booksearch__block')
        img(class='bookpage-container__book-cover book-cover' 
            src=`../images/${book.id}.jpg` 
            alt=`${book.name}`)
      div(class='booksearch__block')
        div(class='booksearch__container__header')
          a(href=`/books/${book.id}`)
            h3.booksearch__title= book.title
          h4.booksearch__author= book.author
          h4.booksearch__publication= book.publicationYear
        div(class='booksearch__container__description')
          p.booksearch__container__description= book.description
